{% extends 'base_layout.html' %}

{% block content %}
	<form class="site-form" action="{% url 'accounts:login' %}" method="post">
		<h1 class="h3 mb-3 font-weight-normal">Please login</h1>
		{% csrf_token %}
		{{form}}
		{% if request.GET.next %}
			<input type="hidden" name="next" value="{{request.GET.next}}">
		{% endif %}
		<button class="btn btn-lg btn-primary btn-block"type="submit" >Login</button>
		<div class="signup-helper">
			<a href="{% url 'accounts:signup' %}">New to E Learning? Sign up now>></a>
		</div>
		<p class="mt-5 mb-3 text-muted">© 2017-2018</p>
	</form>
{% endblock %}