{% extends 'base_layout.html' %}

{% block content %}

  <div id="content">

    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-info">
          <i class="fas fa-align-left"></i>
          <span>Toggle Sidebar</span>
        </button>            
      </div>
      <div>             
        <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-info">Logout</button>
        </form>
      </div> 
    </nav>

    <h2 class="mb-3">Quizzes</h2>
    <div class = "quizzes"> 
    {% for quiz in quizzes %}
      <li>
        <a href='#'>{{quiz.name}}</a>
        <p> {{quiz.course}}</p>
        <p>{{quiz.owner}}</p>
      </li>
    {% endfor %}
    </div>

    <nav>
      <div class="container-fluid">
        <form action="{% url 'courses:quiz_create' id=course.id %}">
          <button type="submit" class="btn btn-info">Create Quiz</button>
        </form>        
      </div>
    </nav>
  </div>

{% endblock %}