{% extends 'base_layout.html' %}

{% block content %}

  <div id="content">

    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container-fluid">
        <button type="button" id="sidebarCollapse" class="btn btn-info">
          <i class="fas fa-align-left"></i>
          <span>Toggle Sidebar</span>
        </button>            
      </div>
      <div>             
        <form class="logout-link" action="{% url 'accounts:logout' %}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-info">Logout</button>
        </form>
      </div> 
    </nav>

    <h2 class="mb-3">Quizzes</h2>
    <h3 class="mb-3">Add a new quiz</h2>

    <div class="quizzes create_quiz"> 
      <div class="row">
        <div class="col-md-6 col-12">
          <form method="post" novalidate action="{% url 'courses:quiz_create' %}">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn"> Save</button>
          </form>
        </div>      
      </div>
    </div>

    <!-- <nav>
      <div class="container-fluid">
        <form action="{% url 'courses:create' %}">
          <button type="submit" class="btn btn-info">Create Course</button>
        </form>        
      </div>
    </nav> -->
  </div>
{% endblock %}